<!DOCTYPE html>
<html>
  <head>
  	<title>FusionCharts || www.fusioncharts.com</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
     {#      <img src="topii.png" width="30" height="30" class="d-inline-block align-top" alt="">#}
      TOPii</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/demographic-and-hourly-segmentation">Demographic and Hourly Segmentation</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/geolocation-and-retention-analytics">Geolocation and Retention analytics</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/consumtions-habits-by-categories">Consumtions habits by Categories</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/product-trends-and-preferences">Product Trends and Preferences</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/expenses-and -payment-methods">Expenses and Payment Methods</a>
      </li>
    </ul>
  </div>
</nav>
  <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <iframe height="450" style="border:none;" width="900" src="http://localhost:8000/displays-bar/" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <iframe height="450" style="border:none;" width="900" src="http://localhost:8000/spline-data/" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <iframe height="450" style="border:none;" width="900" src="http://localhost:8000/social-network/" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <iframe height="450" style="border:none;" width="900" src="http://localhost:8000/audience-location/" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <iframe height="450" style="border:none;" width="900" src="http://localhost:8000/heat-map-most-redeem/" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <iframe height="450" style="border:none;" width="900" src="http://localhost:8000/bar-chart-custom-labels/" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
{#      # <h1>FusionCharts Samples for Django</h1>#}
  </body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
